<section class="sale-page">

  <h1 class="title-sale">Выберите подходящий тарифный план</h1>

  <div class="container">

    <div class="image">
      <img ngSrc="assets/img/img.png" alt="Athletic man" width="434" height="715">
    </div>

    <div class="rate">
      <div class="rates-items">
        <div class="rates-item">

          <div class="sale-count"></div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="info">Чтобы просто начать</p>
            </div>
          </div>
        </div>

        <div class="rates-item">

          <div class="sale-count"></div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="info">Чтобы просто начать</p>
            </div>
          </div>
        </div>

        <div class="rates-item">

          <div class="sale-count"></div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="info">Чтобы просто начать</p>
            </div>
          </div>
        </div>

      </div>

      <div class="rates-item">

        <div class="sale-count"></div>

        <div class="item">
          <div class="content">
            <p class="week">1 неделя</p>
            <div class="price">
              <div class="sale-price">699P</div>
              <div class="old-price">999P</div>
            </div>
            <p class="info">Чтобы просто начать</p>
          </div>
        </div>
      </div>

      <div class="info">
        <p class="info-plane">
          Следуя плану на 3 месяца, люди получают в 2 раза лучший результат, чем за 1 месяц
        </p>

        <div class="police">
          <input type="checkbox" class="checkbox">
          <p class="police-info">Я соглашаюсь с Правилами сервиса и условиями Публичной оферты.</p>
        </div>

        <button class="byu">Купить</button>

        <p class="low-info">
          Нажимая «Купить», Пользователь соглашается на автоматическое списание денежных средств по
          истечению купленного периода. Дальнейшие списания по тарифам участвующим в акции осуществляются по полной
          стоимости согласно оферте.
        </p>
      </div>

    </div>

  </div>

</section>
