<section class="sale-page">

  <h1 class="title-sale">Выберите подходящий тарифный план</h1>

  <div class="container">

    <div class="image">
      <img ngSrc="assets/img/img.png" alt="Athletic man" width="434" height="715">
    </div>

    <div class="rate">
      <div class="rates-items">
        <div class="rates-item">

          <div class="rates-item-image">
            <div class="sale-number-img">
              <p class="sale-number">30%</p>
              <img ngSrc="assets/img/Star.png" alt="Star" height="70" width="70">
            </div>
          </div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="sale-comment">Чтобы просто начать</p>
            </div>
          </div>
        </div>

        <div class="rates-item">
          <div class="rates-item-image">
            <div class="sale-number-img">
              <p class="sale-number">30%</p>
              <img ngSrc="assets/img/Star.png" alt="Star" height="70" width="70">
            </div>
          </div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="sale-comment">Чтобы просто начать</p>
            </div>
          </div>
        </div>

        <div class="rates-item">
          <div class="rates-item-image">
            <div class="sale-number-img">
              <p class="sale-number">30%</p>
              <img ngSrc="assets/img/Star.png" alt="Star" height="70" width="70">
            </div>
          </div>

          <div class="item">
            <div class="content">
              <p class="week">1 неделя</p>
              <div class="price">
                <div class="sale-price">699P</div>
                <div class="old-price">999P</div>
              </div>
              <p class="sale-comment">Чтобы просто начать 👍🏻</p>
            </div>
          </div>
        </div>

      </div>

      <div class="rates-forever">

        <div class="item">
          <div class="rates-item-image">
            <div class="sale-number-img">
              <p class="sale-number">30%</p>
              <img ngSrc="assets/img/Star.png" alt="Star" height="70" width="70">
            </div>
          </div>

          <div class="content-forever">

            <div class="content-forever-left">
              <p class="title-forever">Навсегда</p>
            </div>

            <div class="price">
              <div class="sale-price">5990P</div>
              <div class="old-price">18 990P</div>
            </div>

            <div class="sale-comment-forever">Всегда быть в форме<br>и поддерживать своё здоровье ⭐</div>
          </div>
        </div>
      </div>

      <div class="info">
        <p class="info-plane">
          Следуя плану на 3 месяца, люди получают в 2 раза лучший результат,<br>чем за 1 месяц
        </p>

        <div class="police">
          <label class="custom-checkbox">
            <input type="checkbox" value="value-1">
            <span></span>
          </label>
          <div class="police-info">
            Я соглашаюсь с <a href="#">Правилами сервиса</a> и условиями<br><a href="#">Публичной оферты.</a>
          </div>
        </div>

        <button class="byu">Купить</button>

        <p class="low-info">
          Нажимая «Купить», Пользователь соглашается на автоматическое списание денежных<br>
          средств по истечению купленного периода. Дальнейшие списания по тарифам<br>
          участвующим в акции осуществляются по полной стоимости согласно оферте.
        </p>
      </div>

    </div>

  </div>

</section>
