/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./assets/fonts/ofont.ru_Bebas Neue (1).ttf");
}

@font-face {
  font-family: 'Rubik Medium';
  src: url("./assets/fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: 'Rubik Bold';
  src: url("./assets/fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'Root UI Bold';
  src: url("./assets/fonts/PT-Root-UI_Bold.ttf");
}

@font-face {
  font-family: 'Root UI Regular';
  src: url("./assets/fonts/PT-Root-UI_Regular.ttf");
}

@font-face {
  font-family: 'Root UI Medium';
  src: url("./assets/fonts/PT-Root-UI_Medium.ttf");
}

body {
  background-color: #F5F7F7;
  color: black;
}
